:root {
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --border-color: #ccc;
    --text-color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px; 
    border-radius: 25px;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    max-width: 600px; 
    margin: 0 auto;
    box-sizing: border-box;
    height: 40vh;
}

.form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 30px;
    width: 100%;
    max-width: 500px; 
    box-sizing: border-box;
}

.input, .submitButton {
    padding: 12px;
    border-radius: 4px;
    width: 100%;
}

.input {
    border: 1px solid var(--border-color);
}

.submitButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    max-width: 300px;
}

.submitButton:hover {
    background-color: var(--primary-color-hover);
    transform: scale(1.02);
}

.submitButton:focus, .input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.title {
    font-size: 24px;
    color: var(--text-color);
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.loading {
    font-size: 16px;
    color: var(--text-color);
    margin: 10px 0;
}

@media (max-width: 480px) {
    .container {
        justify-content: flex-start; 
        height: auto;
        padding: 20px; 
    }
    .title {
        font-size: 20px;
        margin: 15px 0;
    }

    .form {
        width: 90%;
    }

    .input, .submitButton {
        padding: 10px; 
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: 80%; 
        height: 60vh; 
        padding: 30px; 
    }

    .form {
        max-width: 450px; 
        padding: 25px; 
    }

    .title {
        font-size: 22px;
        margin: 18px 0;
    }

    .input, .submitButton {
        padding: 12px; 
    }
}
