html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

body {
    background-color: aliceblue;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.buttons_container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* изменено на flex-end для правильного выравнивания */
    width: 100%;
}

.product_List_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .buttons_container {
        justify-content: center; /* Центрирование кнопок на маленьких экранах */
    }

    .product_List_Container {
        align-items: center; /* Центрирование продуктов на маленьких экранах */
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column; /* Переключение на колонную ориентацию для очень маленьких экранов */
    }

    .buttons_container {
        flex-direction: column; /* Кнопки вертикально */
        align-items: center;
    }
}
