html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
}

body {
    background-color: aliceblue;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.buttons_container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.product_List_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 768px) {
    .buttons_container {
        justify-content: center; 
    }

    .product_List_Container {
        align-items: center; 
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column; 
    }

    .buttons_container {
        flex-direction: column;
        align-items: center;
    }
}